airllm
anthropic
beautifulsoup4
chromadb
colorama
diffusers
duckduckgo-search
flask
flask_cors
flask_sse
google-genai
google-generativeai
gtts
jinja2
markdown
matplotlib
mkdocs
mkdocstrings
mkdocstrings-python
pymdown-extensions
chroptiks
pyvis
nltk
numpy
ollama
opencv-python
openai
openai-whisper
pandas
Pillow>=12.3.0
playsound==1.2.2
psycopg2-binary
pyaudio
pyautogui
pygments==2.20.0
pyttsx3
python-dotenv
PyYAML
redis
rich
scipy
sentence_transformers
sqlalchemy
termcolor
